.form-field {
  margin: 12px 16px;

  .label {
    text-align: left;
    margin-bottom: 5px;
  }
}

.form-group {
  @extend %all-flex-row;
  width: 100%;

  .form-field {
    width: 50%;
  }
}

.field {
  position: relative;
  @extend %all-flex-row;
  min-height: 35px;

  textarea,
  select,
  input {
    width: 100%;

    &:hover,
    &:focus {
      box-shadow: $base-shadow;
    }
  }

  input[type='checkbox'] {
    width: 20px;
    height: 20px;
  }
}

textarea,
select,
input {
  background-color: rgb(250, 250, 250);
  border: 1px solid $dark;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

select,
input {
  max-height: 35px;
}

/*  create a new arrow */
input[type='date'] {
  &:after {
    content: '\25BC';
    color: $dark;
    padding: 0 5px;
  }

  &:hover:after {
    color: $darker;
  }

  /* make the native arrow invisible and stretch it */
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  /* removing of up and down arrows */
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }

  /* removing of clear button */
  ::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
  }
}
