$dark: rgb(70, 70, 70);
$darker: rgb(40, 40, 40);

$light: rgb(235, 235, 235);

$base-red: rgb(255, 120, 120);
$base-orange: rgb(255, 208, 120);
$base-yellow: rgb(255, 255, 120);
$base-green: rgb(0, 255, 0);

$base-shadow: 0px 0px 5px -2px $dark;

$border-radius: 2px;

%all-flex-row {
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
